$headerBackgroundClr: rgba(8, 4, 24, 0.7);
$bodyBackgroundClr: #eeeeee;
$footerBackgroundClr: #e0e1e1;
$notificationBackgroundClr: #2a7ff3;
$CourseClassBackgroundClr: #8ddc97;

$whiteClr: #ffffff;
$transparentBlackClr: rgba(0, 0, 0, 0.12);
$courseClassBorderBlackClr: rgba(0, 0, 0, 0.38);

$loginBoxTopClr: #3ac7ec;

$headerFontClr: #3fd28b;

$primaryClr: #222222;
$secondaryClr: #333333;
$tertiaryClr: #666666;
$tertiaryVarientClr: #686868;
$fourthClr: #616161;
$fifthClr: #1f2834;
$sixthClr: #1f7a54;
$courseExpiredClr: #d80000;
